#SIGN_IN{
    -fx-font-family: "Open Sans";
    -fx-font-size: 12;
    -fx-background-color: #FFCE5C;
    -fx-background-radius: 6;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}
#SIGN_IN:hover{
    -fx-background-color: #FFC847;
}
#MainLoginPane{
    -fx-background-color: rgba(255, 237, 194, 0.5);

}