#leftRectangle{
    -fx-fill: #CDCDE0;
    -fx-border-radius: 0px;
}
#mainPageAnchor{
    //-fx-background-color: rgba(255, 237, 194, 0.5);
    -fx-background-color: #CEF3DC;
}
#logout{
    -fx-background-color: #CDCDE0;
    -fx-font-family: "Open Sans";
    -fx-font-weight: bold;
}
#logout:hover{
    -fx-font-family: "Open Sans";
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-text-fill: #CEF3DC;
}
#selectedMailText{
    -fx-background-color: #ffffff;
    -fx-border-radius: 0px;
    -fx-border-color: #ffffff;
}
#emailerLabel{
        -fx-font-family: "Open Sans";
        -fx-font-size: 18;
        -fx-font-weight: bold;

}
#Send:hover{
    -fx-background-color: #B5B4D0;
}
#Send{
    -fx-background-color: #ADEBC5;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}
#selectedMailText{
    -fx-border-radius: 0px;
}
#emailBody .textPrompt {
    -fx-alignment: center;
}
#vbox2{
    -fx-background-color: #ffffff;
}